/*** Digital Ocean minimal css reset ***/

html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  /*** My Styles ***/

body {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

header, footer {
    height: 20%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    border: 1px solid red;
    width: 800px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-basis: 100%;
}

.col {
    border: 1px solid red;
    flex-basis: 100%;
}



